{% set deployment_name = env['deployment'] %}
resources:
  - name: {{ deployment_name }}-{{ properties["accountId"] }}
    type: iam.v1.serviceAccount
    properties:
      accountId: {{ deployment_name }}-{{ properties["accountId"] }}
      displayName: {{ properties["displayName"] }}
      projectId: {{ properties["projectId"] }}

  - name: {{ properties["bindingName"] }}
    type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
    properties:
      resource: $(ref.{{ deployment_name }}-{{ properties["accountId"] }}.projectId)
      role: {{ properties["role"] }}
      member: serviceAccount:$(ref.{{ deployment_name }}-{{ properties["accountId"] }}.email)
    metadata:
      dependsOn:
        - {{ deployment_name }}-{{ properties["accountId"] }}
